---
#
# Configure host key and certificate
#

- name: Get certificate from CA
  maxhoesel.smallstep.step_ssh_certificate:
    state: present
    provisioner: "{{ step_ssh_cert_ca_provisioner }}"
    token: "{{ _step_cert_token.token }}"
    key_id: "{{ step_ssh_cert_keyid }}"
    key_file: "{{ step_ssh_cert_keyfile }}"
    password_file: "{{ _key_password_file.path is defined | ternary(_key_password_file.path, omit) }}"
    principal: "{{ step_ssh_cert_principal | d(omit) }}"
    not_after: "{{ step_ssh_cert_duration | d(omit) }}"
    host: yes
    sign: "{{ step_ssh_cert_sign | d(omit) }}"
    force: "{{ step_ssh_cert_force | d(omit) }}"
    no_password: "{{ step_ssh_cert_no_password | d(omit) }}"
    insecure: "{{ step_ssh_cert_insecure | d(omit) }}"
    step_cli_executable: "{{ step_cli_executable }}"
  environment:
    STEPPATH: "{{ step_ssh_cert_steppath }}"
  register: _step_cert_result
  notify:
    - restart sshd
