---
#
# tasks files for step_ssh_cert
#
- ansible.builtin.include_tasks: check.yml
- ansible.builtin.include_tasks: vars.yml

- name: Look for existing private key
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_keyfile }}"
  register: _step_ssh_key_private_stat

- name: Look for existing public key
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_pubfile }}"
  register: _step_ssh_key_public_stat

- name: Look for existing certificate
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_certfile }}"
  register: _step_ssh_cert_stat

- name: Set vars for key signing
  when: not _step_ssh_key_private_stat.stat.exists
  ansible.builtin.set_fact:
    _step_ssh_cert_keyfile: "{{ step_ssh_cert_keyfile }}"
    _step_ssh_cert_sign: false

- name: Set vars for key signing
  when: _step_ssh_key_private_stat.stat.exists
  ansible.builtin.set_fact:
    _step_ssh_cert_keyfile: "{{ step_ssh_cert_pubfile }}"
    _step_ssh_cert_sign: true

- ansible.builtin.include_tasks: cert.yml
  when: step_ssh_cert_force | bool or not _step_ssh_cert_stat.stat.exists

- name: Configure SSH host key and cert
  when: step_ssh_cert_host | bool
  ansible.builtin.include_tasks: cert_host_config.yml

- name: Configure SSH host certificate renewal
  when: step_ssh_cert_host | bool
  ansible.builtin.include_tasks: renewal.yml
