---
#
# tasks files for step_ssh_cert
#
- ansible.builtin.include_tasks: check.yml
- ansible.builtin.include_tasks: vars.yml

- name: Look for existing private key
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_keyfile_private }}"
  register: _step_ssh_key_private_stat

- name: Look for existing public key
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_keyfile_public }}"
  register: _step_ssh_key_public_stat

- name: Look for existing certificate
  ansible.builtin.stat:
    path: "{{ step_ssh_cert_certificate }}"
  register: _step_ssh_cert_stat

- debug:
    var: "{{ item }}"
  loop:
    - _step_ssh_cert_stat.stat.exists
    - step_ssh_cert_sign
    - step_ssh_cert_force

- name: Assert SSH private key not exists if neither signing nor force enabled
  when: not _step_ssh_cert_stat.stat.exists and not step_ssh_cert_sign and not step_ssh_cert_force
  assert:
    that: not _step_ssh_key_private_stat.stat.exists
    fail_msg: "SSH key {{ step_ssh_cert_keyfile_private }} already exists. Enable signing to use it."

- name: SSH public key should exists if signing enabled
  when: not _step_ssh_cert_stat.stat.exists and step_ssh_cert_sign
  assert:
    that: _step_ssh_key_public_stat.stat.exists
    fail_msg: "SSH key {{ step_ssh_cert_keyfile_public }} not exists. Cannot sign certificate."

- ansible.builtin.include_tasks: cert.yml
  when: step_ssh_cert_force | bool or not _step_ssh_cert_stat.stat.exists

- name: Configure certificate renewal
  ansible.builtin.include_tasks: renewal.yml

- name: Configure SSH host key and cert
  when: step_ssh_cert_host | bool
  ansible.builtin.include_tasks: cert_host_config.yml
