Cmnd_Alias  {{ step_cert_renewal_service | upper | replace("-", "_") }} = {{ step_cert_renewal_reload_command }}
{{ step_cert_user }} ALL=NOPASSWD: {{ step_cert_renewal_service | upper | replace("-", "_") }}
