argument_specs:
  main:
    short_description: Configures ssh to be used with certificates
    options:
      step_cli_executable:
        type: path
        description: Path or name of the step-cli executable to use for executing commands in this role
        default: step-cli
      step_ssh_config_steppath:
        type: path
        description:
          - Set this if C(step_ssh_config_user) requires a custom C(steppath) from which to read the step config
          - "Example: C(/etc/step-cli)"
        default: $HOME/.step
      step_ssh_config_host:
        type: bool
        default: no
        description: Configures a SSH server instead of a client
      step_ssh_config_roots:
        type: bool
        default: no
        description: Downloads the public keys used to verify user or host certificates
      step_ssh_config_roots_ca_file:
        type: dict
        description: Details about a server CA certificate file on disk
        options:
          path:
            type: path
            default: /etc/ssh/ssh_ca_user_key.pub
            description: Absolute path to the certificate file
          mode:
            type: str
            default: '644'
            description: File mode for the certificate file
          owner:
            type: str
            default: root
            description: Owner of the certificate file
          group:
            type: str
            default: root
            description: Group of the certificate file
      step_ssh_config_roots_hosts_file:
        type: dict
        description: Details about a clients known hosts file on disk
        options:
          path:
            type: path
            default: ~/.ssh/known_hosts
            description: Absolute path to configuration file
          mode:
            type: str
            default: '644'
            description: File mode for configuration file
          owner:
            type: str
            default: Argument C(step_ssh_config_user)
            description: Owner of configuration file
          group:
            type: str
            default: Argument C(step_ssh_config_user)
            description: Group of configuration file
