---
- name: Token Creation (Block)
  block:

    - name: Create temporary file for provisioner password
      ansible.builtin.tempfile:
        state: file
        suffix: pw
      register: _provisioner_password_file
      when:
        - step_ca_token_provisioner_password is defined
        - step_ca_token_provisioner_password | length > 0

    - name: Deploy provisioner password to temporary file
      copy:
        dest: "{{ _provisioner_password_file.path }}"
        content: "{{ step_ca_token_provisioner_password }}"
        mode: 0600
      no_log: true
      when:
        - _provisioner_password_file.path is defined

    - name: Generate token
      maxhoesel.smallstep.step_ca_token:
        subject: "{{ step_ca_token_subject }}"
        san: "{{ step_ca_token_san }}"
        principal: "{{ step_ca_token_principal }}"
        host: "{{ step_ca_token_host }}"
        force: "{{ step_ca_token_force }}"
        not_after: "{{ step_ca_token_duration | d(omit) }}"
        cert_not_before: "{{ step_ca_token_cert_not_before | d(omit) }}"
        cert_not_after: "{{ step_ca_token_cert_not_after | d(omit) }}"
        provisioner: "{{ step_ca_token_provisioner }}"
        provisioner_password_file: "{{ _provisioner_password_file.path | d(step_ca_token_provisioner_password_file) | mandatory }}"
        return_token: true
        step_cli_executable: "{{ step_cli_executable }}"
      environment:
        STEPPATH: "{{ step_cli_steppath }}"
      register: step_ca_token_result

  always:
    - name: Remove temporary provisioner password file
      ansible.builtin.file:
        path: "{{ _provisioner_password_file.path }}"
        state: absent
      when: _provisioner_password_file.path is defined
