---
- name: restart step_cert_renewal timer
  ansible.builtin.systemd:
    name: '{{ step_cert_renewal_service_name }}.timer'
    state: restarted
    daemon_reload: "{{ (_step_cert_renewal_service_register_systemd_timer.changed | default(False)) or
                       (_step_cert_renewal_service_register_systemd_service.changed | default(False)) }}"
  when: not ansible_check_mode
